*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  height: 3rem;
  background-color: #f1f1f1;
}
.header span{
  cursor: pointer;
}
.card-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: start;
}
.card-box{
  border: 1px solid #f1f1f1;
  width: 20rem;
}
.card-img{
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}
.card-img img{
  width: 6rem;
  border-radius: 50%;
  border: 1px solid #777;
  padding: 9px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.active{
  background-color: yellow;
}

button{
  padding: 5px;
  margin: 2px;
}

@media(max-width: 768px){
  .header{
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .box{
    padding-top: 1rem;
  }
}